<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{%keywords%}" >
    <meta name="description" content="{%description%}">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <title>凑巧 COUQIAO</title>
    <link rel="stylesheet" href="//static.couqiao.me/css/main.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/Swiper/3.4.1/css/swiper.min.css">
</head>
    <body>
        {%body%}
        <div class="foot">
            <p class="copy">© 2017 Your Company Co., Ltd</p>
        </div>
    </body>
</html>