.sl-card-list {
    padding: 5px 0px;
    background-color: #fff;
}

.sl-card-item {
    margin: 20px;
}

.sl-card-item a:link,
.sl-card-item a:visited,
.sl-card-item a:hover,
.sl-card-item a:active {
    color: #000;
}

.sl-card-item-pic {
    padding: 0;
}

.sl-card-item-pic-image {
    display: block;
    width: 100%; 
}

.sl-card-item-detail {
    padding: 10px;
    background-color: #f5f5f5;
}

.sl-card-item-title {
    font-weight: 200;
    font-size: 1.5rem;
    padding-right: 80px;
    position: relative;
}

.sl-card-item-subtitle {
    position: absolute;
    right: 0;
    top: 0;
}

.sl-card-item-desc {
    padding-top: 10px;
    font-size: .8rem;
    color: #999;
}